{% extends 'form_div_layout.html.twig' %}

{# Labels #}

{% block form_label %}
{% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' control-label')|trim}) %}
{% spaceless %}
    {% if not compound %}
        {% set label_attr = label_attr|merge({'for': id}) %}
    {% endif %}
    {% if required %}
        {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
    {% endif %}
    {% if label is empty %}
        {% set label = name|humanize %}
    {% endif %}
    <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|trans({}, translation_domain) }}</label>
{% endspaceless %}
{% endblock form_label %}

{% block form_row %}
{% spaceless %}
    <div class="control-group">
        {{ form_label(form) }}

        <div class="controls">
        {{ form_widget(form) }}
        {{ form_errors(form) }}
        {% if help is defined %}
        <p class="help-block">{{ help|raw }}</p>
    	{% endif %}
    	</div>
    </div>
{% endspaceless %}
{% endblock form_row %}

{% block form_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
    <label class="error">
        {% for error in errors %}
            {{
                error.messagePluralization is null
                    ? error.messageTemplate|trans(error.messageParameters, 'validators')
                    : error.messageTemplate|transchoice(error.messagePluralization, error.messageParameters, 'validators')
            }}<br />
        {% endfor %}
    </label>
    {% endif %}
{% endspaceless %}
{% endblock form_errors %}

{% block date_widget %}
{% spaceless %}
    {% if widget == 'single_text' %}
   		<div class="input-prepend input-append date" >
   		<span class="add-on" id="btn-trash"><i class="icon-trash"></i></span>
        {{ block('form_widget_simple' ) }}
    	<span class="add-on" id="datepick" data-date-format="dd/mm/yyyy" data-date="{{ "now"|date("d/m/Y") }}"><i class="icon-calendar"></i></span>
    </div>
    {% else %}
        <div {{ block('widget_container_attributes') }}>
            {{ date_pattern|replace({
                '{{ year }}':  form_widget(form.year),
                '{{ month }}': form_widget(form.month),
                '{{ day }}':   form_widget(form.day),
            })|raw }}
        </div>
    {% endif %}
{% endspaceless %}
{% endblock date_widget %}

{% block choice_widget_expanded %}
{% spaceless %}
    <div {{ block('widget_container_attributes') }}>
    {% for child in form %}
    <div class="control-group">

        <div class="controls">
        {{ form_widget(child) }}
        </div>
        {{ form_label(child) }}
    </div>

    {% endfor %}
    </div>
{% endspaceless %}
{% endblock choice_widget_expanded %}

{% block status_widget %}
    {% set selected = '' %}
    {% spaceless %}
        <div  class="btn-group" data-toggle="buttons-radio" data-toggle-name="{{ form.get('full_name') }}">
            {% for child in form %}
                    <button type="button" class="btn btn {{ form.get('classes')[loop.index0] }}" class-toggle="button" value="{{ child.get('value') }}">{{ child.get('label')|trans({},'TaskBundle') }}</button>
                    {% if form.get('value')[loop.index0] == TRUE %}
                    {% set selected = child.get('value') %}
                    {% endif %}
            {% endfor %}
        </div>
        {% if selected is empty %}
        {% set preferred_choices = form.get('preferred_choices') %}

        {% for item in preferred_choices %}
        {% set selected = item.value %}
        {% endfor %}
        {% endif %}
        <input type="hidden" name="{{ form.get('full_name') }}" value="{{ selected }}" class="hidden-status" id="{{ id }}" />
    {% endspaceless %}
{% endblock %}