{% extends "TaskBundle::layout.html.twig" %}
{% block stylesheets %}
{% stylesheets
        '@MainBundle/Resources/public/css/jquery.fileupload-ui.css'
        '@MainBundle/Resources/public/css/jasny-bootstrap.css'
        '@MainBundle/Resources/public/css/jasny-bootstrap-responsive.css'
        '@MainBundle/Resources/public/css/datepicker.css'
        '@MainBundle/Resources/public/css/select2.css'
        %}
         <link rel="stylesheet" href="{{ asset_url }}">
        {% endstylesheets %}
{% endblock %}
{% block content %}
{% include "TaskBundle:Upload:templates.html.twig" %}

<h1>Task creation</h1>


<form class="form-styled" action="{{ path('task_create', { newId: newId } ) }}" method="post" {{ form_enctype(form) }}>
    {{ form_errors(form) }}

    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
    <div class="control-group">
    {{ form_label(form.dateEnd) }}
    {{ form_errors(form.dateEnd) }}
    <div class="input-prepend input-append date" >
    <span class="add-on" id="btn-trash"><i class="icon-trash"></i></span>
    {{ form_widget(form.dateEnd, { 'attr': {'class': 'span2', 'readonly':'readonly'} } ) }}
    <span class="add-on" id="datepick" data-date-format="dd/mm/yyyy" data-date="{{ "now"|date("d/m/Y") }}"><i class="icon-calendar"></i></span>
    </div>

    </div>

    {{ form_row(form.tags,{ 'attr': {'style':'width:298px','class':'select2'} }) }}
    <div>
    {{ form_label(form.members) }}
    {{ form_errors(form.members) }}
    {{ form_widget(form.members,{ 'attr': {'style':'width:298px','class':'select2'} } ) }}
    </div>
    {# form_row(form.members) #}

    {# Hydrated by javascript #}
    <div class="file-uploader"></div>
    {{ form_rest(form) }}

    <p>
        <button type="submit">Create</button>
    </p>

</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('task') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
// Enable the file uploader

$(function() {
    new PunkAveFileUploader({
        'uploadUrl': {{ path('task_upload',  { uploadId: newId, classId: entityClass , id: entity.id }) | json_encode | raw }},
        'viewUrl': '{{ '/uploads/tmp/attachments/' ~ newId  }}' ,
        'el': '.file-uploader',
        'existingFiles': {{ existingFiles | json_encode | raw }},
        'delaySubmitWhileUploading': '.edit-form',
        'errorCallback': function(errorObj) {
            if($('#msg-upload').length == 0)
                $('<div class="page-alert"><div class="alert alert-error"><a class="close" data-dismiss="alert">×</a><span id="msg-upload"></span></div></div>').insertAfter('.navbar');
            $('#msg-upload').html($('#msg-upload').text()+"<br/>"+errorObj.error+' '+errorObj.name);

        }
    });
    $('#btn-trash').click(function(e){
        $dp.datepicker('hide');
        $('input#task_dateEnd').val('');
    });
    $dp = $('#datepick').datepicker()
                .on('changeDate', function(ev){
                    $('input#task_dateEnd').val($('#datepick').data('date'));
                    $('#datepick').datepicker('hide');
                });
    $("select#task_members").select2();
    $("input#task_tags").select2({tags:["{{ defaultTags|join('","')|raw}}"],tokenSeparators: [","] });
});
</script>
{% javascripts
    '@MainBundle/Resources/public/js/vendor/bootstrap-fileupload.js'
    '@MainBundle/Resources/public/js/vendor/jquery.ui.widget.js'
    '@MainBundle/Resources/public/js/vendor/underscore-min.js'
    '@MainBundle/Resources/public/js/vendor/bootstrap-datepicker.js'
    '@MainBundle/Resources/public/js/vendor/select2.js'
    '@PunkAveFileUploaderBundle/Resources/public/js/jquery.fileupload.js'
    '@FileBundle/Resources/public/js/FileUploader.js' %}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}

{% endblock %}