{% extends "TaskBundle::layout.html.twig" %}
{% form_theme form 'MainBundle:Form:fields.html.twig' %}
{% block stylesheets %}
{{ parent() }}
{% stylesheets
    '@MainBundle/Resources/public/css/jquery.fileupload-ui.css'
    '@MainBundle/Resources/public/css/jasny-bootstrap.css'
    '@MainBundle/Resources/public/css/jasny-bootstrap-responsive.css'
    '@MainBundle/Resources/public/css/datepicker.css'
    '@MainBundle/Resources/public/css/select2.css'
    '@MainBundle/Resources/public/css/bootstrap-wysihtml5.css'
    '@MainBundle/Resources/public/css/wysiwyg-color.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
    {% endblock %}
    {% block content %}
    {% include "TaskBundle:Upload:templates.html.twig" %}
    {{ apy_breadcrumb_trail_render() }}
    <div class="row-fluid sortable">
        <div class="box span12">
            <div class="box-header" data-original-title>
                <h2><i class="icon-user"></i><span class="break"></span>Task creation</h2>
            </div>
            <div class="box-content">


                <form class="form-horizontal" action="{{ path('task_create', { newId: newId } ) }}" method="post" {{ form_enctype(form) }}>
                    {{ form_errors(form) }}

                    <fieldset>
                        {{ form_row(form.name,{'help':'sdasdasasda'}) }}
                        {{ form_row(form.description, {'attr': {'placeholder':'Introduzca una descripción ...', 'class':'wysihtml5 span11','rows':'10'} } ) }}
                        {{ form_row(form.dateEnd) }}

                        {{ form_row(form.tags,{ 'attr': {'style':'min-width:298px'} } ) }}
                        {{ form_row(form.members,{ 'attr': {'style':'width:298px'} } ) }}
                        {# Hydrated by javascript #}
                          <div class="control-group">
                <label class="control-label">File Upload</label>
                <div class="controls">
                        <div class="file-uploader"></div>
                    </div>
                </div>

                        {{ form_rest(form) }}
                    </fieldset>
                    <div class="form-actions">
                        <button class="btn btn-primary" type="submit">Save changes</button>
                        <a class="btn btn-cancel" href="{{ path('task') }}">
                            Back to the list
                        </a>
                    </div>
                </form>
            </div>

        </div><!--/box-->

    </div><!--/row-->
    {% endblock %}

    {% block javascripts %}
    <script type="text/javascript">
// Enable the file uploader

$(function() {
    new PunkAveFileUploader({
        'uploadUrl': {{ path('task_upload',  { uploadId: newId, classId: entityClass , id: entity.id }) | json_encode | raw }},
        'viewUrl': '{{ '/uploads/tmp/attachments/' ~ newId  }}' ,
        'el': '.file-uploader',
        'existingFiles': {{ existingFiles | json_encode | raw }},
        'delaySubmitWhileUploading': '.form-horizontal',
        'errorCallback': function(errorObj) {
            if($('#msg-upload').length == 0)
                $('<div class="page-alert"><div class="alert alert-error"><a class="close" data-dismiss="alert">×</a><span id="msg-upload"></span></div></div>').insertAfter('.navbar');
            $('#msg-upload').html($('#msg-upload').text()+"<div>"+errorObj.error+' '+errorObj.name+'</div>');
            $('.file-uploader').find('[data-spinner="1"]').hide();

        }
    });
    $('#btn-trash').click(function(e){
        $dp.datepicker('hide');
        $('input#task_dateEnd').val('');
    });
    $dp = $('#datepick').datepicker()
    .on('changeDate', function(ev){
        $('input#task_dateEnd').val($('#datepick').data('date'));
        $('#datepick').datepicker('hide');
    });
    $("select#task_members").select2();
    $("input#task_tags").select2({tags:["{{ defaultTags|join('","')|raw}}"],tokenSeparators: [","] });
    $('.wysihtml5').wysihtml5({
        "html":true,
        "color":true
    });

  $('div.btn-group[data-toggle-name=*]').each(function(){
    var group   = $(this);
    var form    = group.parents('form').eq(0);
    var name    = group.attr('data-toggle-name');
    var hidden  = $('input[name="' + name + '"]', form);
    $('button', group).each(function(){
      var button = $(this);
      button.live('click', function(){
          hidden.val($(this).val());
      });
      if(button.val() == hidden.val()) {
        button.addClass('active');
      }
    });
  });
});
</script>
{% javascripts
    '@MainBundle/Resources/public/js/vendor/bootstrap-fileupload.js'
    '@MainBundle/Resources/public/js/vendor/jquery.ui.widget.js'
    '@MainBundle/Resources/public/js/vendor/underscore-min.js'
    '@MainBundle/Resources/public/js/vendor/bootstrap-datepicker.js'
    '@MainBundle/Resources/public/js/vendor/select2.js'
    '@MainBundle/Resources/public/js/vendor/wysihtml5-0.3.0.js'
    '@MainBundle/Resources/public/js/vendor/bootstrap-wysihtml5.js'
    '@PunkAveFileUploaderBundle/Resources/public/js/jquery.fileupload.js'
    '@FileBundle/Resources/public/js/FileUploader.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% endblock %}