{% form_theme form 'MainBundle:Form:fields.html.twig' %}
{{ apy_breadcrumb_trail_render() }}
<div class="row-fluid sortable">
	<div class="box span12">
		<div class="box-header" data-original-title>
			<h2><i class="icon-user"></i><span class="break"></span>{{ 'profile.change_password'|trans({},'UserBundle') }}</h2>
			<div class="box-icon">
			<a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
		</div>
		</div>
		<div class="box-content">
			<form class="form-horizontal validate ajaxform" action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" id="form_change-password" >
				<fieldset>
					{{ form_widget(form) }}
				</fieldset>
				<div class="form-actions">
					<button type="submit" class="btn btn-primary" >{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}</button>
					<a class="btn btn-cancel ajaxy" href="{{ path('sonata_user_profile_show') }}" title="{{ 'profile.view'|trans({},'UserBundle') }}">
                       <i class="fa-icon-undo"></i>&nbsp;{{ 'profile.back'|trans({},'UserBundle') }}
                    </a>
				</div>
			</form>
		</div>

	</div><!--/box-->

</div><!--/row-->
