<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="en" <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="{{ app.request.locale }}" {% block xmlns %}{% endblock %}> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <base href="{{ app.request.schemeAndHttpHost }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- start: Meta -->
    <meta charset="utf-8">
    <title>Taskul - Panel de administración</title>
    <meta name="description" content="Taskul Admin">
    <meta name="author" content="Camilo Cota">
    <meta name="robots" content="noindex, nofollow">

    <!-- end: Meta -->

    <!-- start: Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- end: Mobile Specific -->
    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    {% stylesheets
    '@MainBundle/Resources/public/css/bootstrap-combined.min.css'
    '@MainBundle/Resources/public/css/bootstrap-responsive.min.css'
    '@MainBundle/Resources/public/css/uniform.default.css'
    '@MainBundle/Resources/public/css/jquery.iphone.toggle.css'
    '@MainBundle/Resources/public/css/font-awesome.css'
    '@MainBundle/Resources/public/css/font-awesome-ie7.css'
    '@MainBundle/Resources/public/css/style.css'
    '@MainBundle/Resources/public/css/style-responsive.css'
    '@MainBundle/Resources/public/css/jNotify.jquery.css'
    '@MainBundle/Resources/public/css/main.css'
    '@MainBundle/Resources/public/css/flags.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
    {% block stylesheets%}{% endblock %}
    {% javascripts '@MainBundle/Resources/public/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js'%}

    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
</head>
<body>
    <div class='notifications top-right'></div>
    <div class='notifications center'></div>
    {% block body %}
    {% endblock %}
</body>


<script>
           /* var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));*/
</script>
{% javascripts
    '@MainBundle/Resources/public/js/vendor/jquery-1.9.1.js'
    '@MainBundle/Resources/public/js/vendor/jquery-migrate-1.1.1.js'
    '@MainBundle/Resources/public/js/vendor/jquery.scrollTo.min.js'
    '@MainBundle/Resources/public/js/vendor/jquery.history.js'
    '@MainBundle/Resources/public/js/vendor/bootstrap.min.js'
    '@MainBundle/Resources/public/js/vendor/i18next-1.6.3.js'
    '@MainBundle/Resources/public/js/vendor/jquery.form.js'
    '@MainBundle/Resources/public/js/vendor/jquery.validate.min.js'
    '@MainBundle/Resources/public/js/vendor/additional-methods.min.js'
    '@MainBundle/Resources/public/js/vendor/jNotify.jquery.js'
    '@MainBundle/Resources/public/js/vendor/jquery.uniform.js'
    '@MainBundle/Resources/public/js/main.js'
    '@MainBundle/Resources/public/js/ajaxify.js'
    output='js/compiled/public.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% if app.request.locale != 'en' %}
    {% javascripts
    '@MainBundle/Resources/public/js/vendor/messages_es.js'
    %}
    <script src="{{ asset_url }}" async></script>
    {% endjavascripts %}
    {% endif %}
    {% block javascripts %}{% endblock %}
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44436926-1', 'taskul.net');
  ga('send', 'pageview');
    </script>

     <script>
// Include the UserVoice JavaScript SDK (only needed once on a page)
UserVoice=window.UserVoice||[];(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/bnUyVuAci0b5jgUTIVbSuw.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})();

//
// UserVoice Javascript SDK developer documentation:
// https://www.uservoice.com/o/javascript-sdk
//

// Set colors
UserVoice.push(['set', {
  accent_color: '#448dd6',
  trigger_color: 'white',
  trigger_background_color: 'rgba(46, 49, 51, 0.6)'
}]);

// Identify the user and pass traits
// To enable, replace sample data with actual user traits and uncomment the line
UserVoice.push(['identify', {
  //email:      'john.doe@example.com', // User’s email address
  //name:       'John Doe', // User’s real name
  //created_at: 1364406966, // Unix timestamp for the date the user signed up
  //id:         123, // Optional: Unique id of the user (if set, this should not change)
  //type:       'Owner', // Optional: segment your users by type
  //account: {
  //  id:           123, // Optional: associate multiple users with a single account
  //  name:         'Acme, Co.', // Account name
  //  created_at:   1364406966, // Unix timestamp for the date the account was created
  //  monthly_rate: 9.99, // Decimal; monthly rate of the account
  //  ltv:          1495.00, // Decimal; lifetime value of the account
  //  plan:         'Enhanced' // Plan name for the account
  //}
}]);

// Add default trigger to the bottom-right corner of the window:
UserVoice.push(['addTrigger', { mode: 'contact', trigger_position: 'bottom-right' }]);

// Or, use your own custom trigger:
//UserVoice.push(['addTrigger', '#id', { mode: 'contact' }]);

// Autoprompt for Satisfaction and SmartVote (only displayed under certain conditions)
UserVoice.push(['autoprompt', {}]);
</script>
</html>
