<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <title>{% block title %}{% endblock %}</title>
    {% block description %}{% endblock %}
    {% block keywords %}{% endblock %}
    <link rel="shortcut icon" href="/favicon.ico" />
    <base href="{{ app.request.schemeAndHttpHost }}">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Styles -->
    {% stylesheets
    '@MainBundle/Resources/public/css/bootstrap-combined.min.css'
    '@MainBundle/Resources/public/css/bootstrap-responsive.min.css'
    '@MainBundle/Resources/public/css/bootstrap-overrides.css'
    '@MainBundle/Resources/public/css/theme.css'
    '@MainBundle/Resources/public/css/jNotify.jquery.css'
    '@MainBundle/Resources/public/css/lib/animate.css'
    '@MainBundle/Resources/public/css/index.css'
    '@MainBundle/Resources/public/css/sign.css'
    '@MainBundle/Resources/public/css/features.css'
    '@MainBundle/Resources/public/css/services.css'
    '@MainBundle/Resources/public/css/reset.css'
    '@MainBundle/Resources/public/css/flags.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
    {% block stylesheets%}{% endblock %}
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body class="pull_top">
    <div class="wrapper">
{% block body %}
{% endblock %}
<div class="push"></div>
</div>
    <!-- starts footer -->
    <footer id="footer">
        <div class="container">
            <div class="row info">
                <div class="span6 privacy1">
                    <ul>
                        <li><a href="{{ path('privacy') }}" title="{{'privacy_content.title'|trans({},'MainBundle')}}" class="ajaxy">{{'privacy'|trans({},'MainBundle')}}</a></li>
                    </ul>
                </div>
                <div class="span5 privacy2">
                    <ul>
                        <li><a href="{{ path('legal') }}" title="{{'legal_content.title'|trans({},'MainBundle')}}" class="ajaxy">{{'legal'|trans({},'MainBundle')}}</a></li>
                    </ul>
                </div>
            </div>
            <div class="row credits">
                <div class="span12">
                    <div class="row social">
                        <div class="span12">
                            <a href="https://twitter.com/TASKULnet" class="twitter" title="{{'follow.taskul.twitter'|trans({},'MainBundle')}}">
                                <span class="socialicons ico2"></span>
                                <span class="socialicons_h ico2h"></span>
                            </a>
                            <a href="https://twitter.com/camilocot" class="twitter" title="{{'follow.camilo.twitter'|trans({},'MainBundle')}}">
                                <span class="socialicons ico2"></span>
                                <span class="socialicons_h ico2h"></span>
                            </a>
                        </div>
                    </div>
                    <div class="row copyright">
                        <div class="span12">
                            © 2013 <a href="http://es.linkedin.com/pub/camilo-cota/24/918/b36" title="Linkedin Camilo Cota">Camilo Cota Aranda.</a> All rights reserved.  Theme by Detail Canvas. Powered by: <a href="http://symfony.com/" title="Symfony is a PHP framework for web projects">Symfony</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Scripts -->
    {% javascripts
    '@MainBundle/Resources/public/js/vendor/jquery-1.9.1.js'
    '@MainBundle/Resources/public/js/vendor/jquery.history.js'
    '@MainBundle/Resources/public/js/vendor/bootstrap.min.js'
    '@MainBundle/Resources/public/js/vendor/i18next-1.6.3.js'
    '@MainBundle/Resources/public/js/vendor/jquery.form.js'
    '@MainBundle/Resources/public/js/vendor/jquery.validate.min.js'
    '@MainBundle/Resources/public/js/vendor/additional-methods.min.js'
    '@MainBundle/Resources/public/js/vendor/jquery.uniform.js'
    '@MainBundle/Resources/public/js/vendor/jNotify.jquery.js'
    '@MainBundle/Resources/public/js/vendor/jquery.scrollTo.min.js'
    '@MainBundle/Resources/public/js/theme.js'
    '@MainBundle/Resources/public/js/main.js'
    '@MainBundle/Resources/public/js/ajaxify.js'
    output='js/compiled/public.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% if app.request.locale != 'en' %}
    {% javascripts
    '@MainBundle/Resources/public/js/vendor/messages_es.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% endif %}
    {% block javascripts %}{% endblock %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44436926-1', 'taskul.net');
  ga('send', 'pageview');

</script>
<script>
// Include the UserVoice JavaScript SDK (only needed once on a page)
UserVoice=window.UserVoice||[];(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/bnUyVuAci0b5jgUTIVbSuw.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})();

//
// UserVoice Javascript SDK developer documentation:
// https://www.uservoice.com/o/javascript-sdk
//

// Set colors
UserVoice.push(['set', {
  accent_color: '#448dd6',
  trigger_color: 'white',
  trigger_background_color: 'rgba(46, 49, 51, 0.6)'
}]);

// Identify the user and pass traits
// To enable, replace sample data with actual user traits and uncomment the line
UserVoice.push(['identify', {
  //email:      'john.doe@example.com', // User’s email address
  //name:       'John Doe', // User’s real name
  //created_at: 1364406966, // Unix timestamp for the date the user signed up
  //id:         123, // Optional: Unique id of the user (if set, this should not change)
  //type:       'Owner', // Optional: segment your users by type
  //account: {
  //  id:           123, // Optional: associate multiple users with a single account
  //  name:         'Acme, Co.', // Account name
  //  created_at:   1364406966, // Unix timestamp for the date the account was created
  //  monthly_rate: 9.99, // Decimal; monthly rate of the account
  //  ltv:          1495.00, // Decimal; lifetime value of the account
  //  plan:         'Enhanced' // Plan name for the account
  //}
}]);

// Add default trigger to the bottom-right corner of the window:
UserVoice.push(['addTrigger', { mode: 'contact', trigger_position: 'bottom-right' }]);

// Or, use your own custom trigger:
//UserVoice.push(['addTrigger', '#id', { mode: 'contact' }]);

// Autoprompt for Satisfaction and SmartVote (only displayed under certain conditions)
UserVoice.push(['autoprompt', {}]);
</script>
</body>
</html>