{% extends "::base.html.twig" %}
{% block stylesheets %}
{% stylesheets
  '@MainBundle/Resources/public/css/private.css'
  %}
  <link rel="stylesheet" href="{{ asset_url }}">
  {% endstylesheets %}
  {% endblock %}
  {% block body %}
  <div id="overlay" style="display:none">
    <ul>
      <li class="li1"></li>
      <li class="li2"></li>
      <li class="li3"></li>
      <li class="li4"></li>
      <li class="li5"></li>
      <li class="li6"></li>
    </ul>
  </div>
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container-fluid">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="{{ path('homepage')}}"><span class="hidden-phone">Taskul</span></a>

        <!-- start: Header Menu -->
        <div class="nav-no-collapse header-nav">

          <ul class="nav pull-right">
            <li class="dropdown hidden-phone"><!-- Task notifications -->
              <a class="btn dropdown-toggle notiftoggle" data-toggle="dropdown" href="#"  id="toggle-task-noti" data-context="TASK" data-route="notification" data-route-content="get_notifications">
                <i class="icon-tasks icon-white"></i><span class="label label-important hidden-phone notifnumber" id="task-noti-number">0</span>
              </a>
              <ul class="dropdown-menu notifications" id="task-notification">
              </ul>
            </li>
            <li class="dropdown hidden-phone"><!-- Files notifications -->
              <a class="btn dropdown-toggle notiftoggle"  data-toggle="dropdown" href="#"  id="toggle-file-noti" data-context="FILE" data-route="notification" data-route-content="get_notifications">
                <i class="icon-file icon-white"></i><span class="label label-important hidden-phone notifnumber" id="file-noti-number">0</span>
              </a>
              <ul class="dropdown-menu notifications" id="files-notification">
              </ul>
            </li>
            <li class="dropdown hidden-phone"><!-- Comments notifications -->
              <a class="btn dropdown-toggle notiftoggle" data-toggle="dropdown" href="#"  id="toggle-comment-noti" data-context="COMMENT" data-route="notification" data-route-content="get_notifications">
                <i class="icon-comment icon-white"></i><span class="label label-important hidden-phone notifnumber" id="comment-noti-number">0</span>
              </a>
              <ul class="dropdown-menu notifications" id="files-notification">
              </ul>
            </li>
            <!-- start: Notifications Dropdown -->
            <li class="dropdown hidden-phone">
              <a class="btn dropdown-toggle notiftoggle" data-toggle="dropdown" href="#" id="toggle-task-inprogress" data-context="inprogress" data-route="api_count_task_list_status" data-route-content="api_list_task_status">
                <i class="icon-tasks icon-white"></i> <span class="label label-warning hidden-phone notifnumber" id="task-inprogress-number">0</span>
              </a>
              <ul class="dropdown-menu tasks-inprogress tasks">
              </ul>
            </li>
            <!-- end: Notifications Dropdown -->
            <!-- start: Message Dropdown -->
            <li class="dropdown hidden-phone">
              <a class="btn dropdown-toggle notiftoggle" data-toggle="dropdown" href="#" data-context="messages" data-route="taskul_message_unread_messages" data-route-content="taskul_message_list_unread_messages">
                <i class="icon-envelope icon-white"></i> <span class="label label-success hidden-phone notifnumber">0</span>
              </a>
              <ul class="dropdown-menu messages">
              </ul>
            </li>
            <!-- end: Message Dropdown -->
            <!-- start: User Dropdown -->
            <li class="dropdown">
              <a class="btn dropdown-toggle no-ajaxy" data-toggle="dropdown" href="#">
                <i class="icon-user icon-white"></i>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="{{ path('fos_user_profile_edit') }}"><i class="icon-user"></i> Profile</a></li>
                <li><a href="{{ path('fos_user_change_password') }}"><i class="icon-user"></i> Change Password</a></li>
                <li class="divider"></li>
                <li><a href="{{ path('fos_user_security_logout') }}"><i class="icon-off"></i> Logout</a></li>
              </ul>
            </li>
            <!-- end: User Dropdown -->
          </ul>
          <div class="pull-right" style="padding:10px 20px">{{app.user.username}}</div>
        </div>
        <!-- end: Header Menu -->

      </div>
    </div>
  </div>
  <!-- start: Header -->

  <div class="container-fluid">
    <div class="row-fluid">

      <!-- start: Main Menu -->
      <div class="span2 main-menu-span">
        <div class="nav-collapse sidebar-nav">
          {{ knp_menu_render('main', {'allow_safe_labels':true ,'template': 'MainBundle:Default:knp_menu.html.twig', 'currentClass': 'active'})  }}
        </div><!--/.well -->
      </div><!--/span-->
      <!-- end: Main Menu -->

      <noscript>
        <div class="alert alert-block span10">
          <h4 class="alert-heading">Warning!</h4>
          <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
        </div>
      </noscript>

      <div id="content" class="span10" style="min-height: 825px;">
        <!-- start: Content -->
        {% block content %}{% endblock %}
        <!-- end: Content -->
      </div><!--/#content.span10-->
    </div><!--/fluid-row-->

    <div class="clearfix"></div>

    <footer>
      <p>
        <span style="text-align:left;float:left">&copy; <a href="http://clabs.co" target="_blank">creativeLabs</a> 2013</span>
        <span style="text-align:right;float:right">Powered by: <a href="#">Perfectum Dashboard</a></span>
      </p>

    </footer>
  </div><!--/.fluid-container-->
  {% verbatim %}
  <script id="get_notifications-html" type="text/html">
  <li>
    <span class="dropdown-menu-title">Tienes {{ total }} notificaciones pendientes</span>
  </li>
  {{#result}}
    <li>
    <a href="{{ url }}">
    + <i class="icon-th"></i> <span class="message">{{ summary }}</span> <span class="time">{{ date }}</span></a>
    </li>
    {{/result}}
  </script>
  <script id="api_list_task_status-html" type="text/html">
  <li>
    <span class="dropdown-menu-title">Tienes {{ total }} un total de tareas pendientes</span>
  </li>
  {{#result}}
  <li>
    <a href="{{url}}">
      <span class="header">
        <span class="title">{{summary}}</span>
        <span class="percent"></span>
      </span>
      <div class="taskProgress progressSlim progressYellow">{{percent}}</div>
    </a>
  </li>
  {{/result}}
  </script>
  <script id="taskul_message_list_unread_messages-html" type="text/html">
  <li>
    <span class="dropdown-menu-title">You have {{ total }} messages</span>
  </li>
  {{#result}}
  <li>
    <a href="{{ url }}">
      <span class="avatar">
      {{#sender.facebookId}}
        <img src="https://graph.facebook.com/{{ sender.facebookId }}/picture"/>
      {{/sender.facebookId}}
      {{^sender.facebookId}}
        <img src="http://www.gravatar.com/avatar/{{ sender.gravatar }}" />
      {{/sender.facebookId}}
      </span>
      <span class="header">
        <span class="from">
          {{ sender.firstname }}
        </span>
        <span class="time">
          {{ time }}
        </span>
      </span>
      <span class="message">
      {{#limitLength}}{{body}}{{/limitLength}}
      </span>
    </a>
  </li>
  {{/result}}
  </script>
  {% endverbatim %}
  {% endblock %}
  {% block javascripts %}
  {{ parent() }}
  <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
  <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
  {% javascripts
    '@MainBundle/Resources/public/js/vendor/mustache.js'
    '@MainBundle/Resources/public/js/vendor/jquery.mustache.js'
    '@MainBundle/Resources/public/js/vendor/jquery-ui-1.10.2.custom.js'
    '@MainBundle/Resources/public/js/private.js'
  %}
  <script src="{{ asset_url }}"></script>
  {% endjavascripts %}
  {% endblock %}