{% extends "::base_public.html.twig" %}
{% block body %}
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <a class="brand ajaxy" href="{{ path('homepage') }}" title="{{'index.title'|trans({},'MainBundle')}}">
            <strong>TASKUL.NET</strong>
        </a>

        <div class="nav-collapse collapse">
			{% if is_granted('ROLE_USER') %}
			{{ knp_menu_render('public_logged', {'currentClass': 'active'})  }}
			{% else %}
			{{ knp_menu_render('public', {'currentClass': 'active'})  }}
			{% endif %}
            <ul class="nav pull-right">
            {% set routeName = app.request.attributes.get("_route") %}
            {% set routeParams = app.request.attributes.get("_route_params") %}
            {% for locale in locales %}
            {% if locale != app.request.locale %}
            {#<li><a href="{{ path(routeName, routeParams|merge({"_locale": locale})) }}" class="flaglink"><div class="flag flag-{{locale}}"></div></a></li>#}
            {% endif %}
            {% endfor %}
        </ul>
        </div>
        <div class="hidden-tablet hidden-phone" style="color:#FF9999;margin-left:400px"><p><img width="20" src="/img/icons/Crab-128.png" alt="Logo" class="info-beta" style="float:left"><a class="ajaxy" href="{{ path('homepage') }}" title="{{'index.title'|trans({},'MainBundle')}}">{{'taskul.beta'|trans({},'MainBundle')|raw}}</p></div>
    </div>
  </div>
</div>
<div id="content">
{% block content%}
{% endblock content %}
</div> <!-- /content -->
<div class="row-fluid"></div>
{% endblock body %}