{% extends "TaskBundle::layout.html.twig" %}
{% trans_default_domain "TaskBundle" %}
{% block stylesheets%}
{{ parent() }}
{% stylesheets
  '@TaskBundle/Resources/public/sass/tasks.scss'
  filter='sass' %}
  <link rel="stylesheet" href="{{ asset_url }}">
  {% endstylesheets %}
{% endblock %}
{% block content %}
<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header" data-original-title>
            <h2><i class="icon-user"></i><span class="break"></span>{{'task.list.title'|trans}}</h2>
            <div class="box-icon">
            <a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
            </div>
        </div>
        <div class="box-content">
            <div id="main">
            </div>
        </div>
    </div><!--/box-->

</div><!--/row-->
<script>
        window.Api = {
            task_url: '{{ path('api_get_tasks'|escape('js')) }}',
            tag_url: '{{ path('api_get_tags'|escape('js')) }}'
        }

</script>
<!-- Layout -->
<script id="tasks-layout-template" type="text/template">
  <section>
    <navigation id="labels"></navigation>
    <article id="main-content"></article>
  </section>
</script>

<!-- Menu Action -->
<script id="menu-actions-template" type="text/template">
<div class="menu">
            <ul>
                <li><a class="right" href="#" id="newtag-action">Nueva etiqueta</a>
            </ul>
        </div>
</script>

<!-- Tags List Item -->
<script type="text/template" id="tag-preview-template">
<td><input type="checkbox" value="<%= id %>" name="selected-tags[]" class="selected-tags"></td>
<td><%= id %> - <%= name %></td>
<td></td>
</script>

<!-- Task List Item -->
<script type="text/template" id="task-preview-template">
    <td><input type="checkbox" value="<%= id %>" name="selected-tasks[]" class="selected-tasks"></td>
    <td class="<%= status %>"><%= id %> - <%= name %></td>
    <td>
    <a href="{{ path('taskul_task_defaulttask_index') }}#edit/<%= id %>">Edit</a>
    <a href="{{ path('taskul_task_defaulttask_index') }}#view/<%= id %>">View</a>
    <a href="{{ path('taskul_task_defaulttask_index') }}#tags/<%= id %>">Tags</a>
    </td>
</script>

<!-- Task Item -->
<script type="text/template" id="task-view-template">
<%= name %>
<%= status %>
<%= description %>
<%= members %>
<div class="form-actions">
        <a class="btn btn-cancel" href="{{ path('taskul_task_defaulttask_index') }}#" title={{'menu.title.task.list'|trans({},'MainBundle')}}>
            <i class="fa-icon-undo"></i>&nbsp;{{ 'task.new.back'|trans }}
        </a>
    </div>
</script>

<!-- Tags List -->
<script type="text/template" id="tags-list-template">
    <table class="table table-striped table-bordered bootstrap-datatable" id="tags">
        <thead>
            <tr>
                <th></th>
                <th data-class="expand" data-sort-initial="true">{{'tags.list.name'|trans}}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</script>

<!-- Task List -->
<script type="text/template" id="tasks-list-template">
    <table class="table table-striped table-bordered bootstrap-datatable" id="tasks">
        <thead>
            <tr>
                <th></th>
                <th data-class="expand" data-sort-initial="true">{{'task.list.name'|trans}}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <div class="well">
       <a href="{{ path('taskul_task_defaulttask_index') }}#new" class="btn btn-primary" title="{{'task.list.buttons.new'|trans({},'TaskBundle')}}">
        {{'task.list.buttons.new'|trans({},'TaskBundle')}}
        </a>
        <button href="{{ path('taskul_task_defaulttask_index') }}" class="btn btn-primary" title="{{'task.list.buttons.delete'|trans({},'TaskBundle')}}" name="delete-tasks">
        {{'task.list.buttons.delete'|trans({},'TaskBundle')}}
        </button>
    </div>
</script>

<!-- Task form -->
<script type="text/template" id="task-form-template">
<form id="add-task" action="#" class="form-inline">
    <div class="control-group">
      <label class="control-label" for="name">Nombre</label>
      <div class="controls">
        <input id="name" type="text" value="<%= name %>" name="name" data-validation="name">
        <span class="help-inline"></span>
      </div>
    </div>
    <div class="btn-group" data-toggle="buttons-radio" data-toggle-name="status">
        <button type="button" class="btn btn-done" class-toggle="button" value="done">Done</button>
        <button type="button" class="btn btn-inprogress" class-toggle="button" value="inprogress">In Progress</button>
        <button type="button" class="btn btn-todo" class-toggle="button" value="todo">TO DO</button>
    </div>
    <input type="hidden" name="status" value="<%= status %>" class="hidden-status" />
    <div class="control-group">
      <label class="control-label" for="description">Descripcion</label>
      <div class="controls">
        <textarea id="description" name="description"><%= description %></textarea>
        <span class="help-inline"></span>
      </div>
    </div>
    <div class="form-actions">
        <input class="btn btn-primary" type="submit" value="{{ 'task.new.finish'|trans }}">
        <a class="btn btn-cancel" href="{{ path('taskul_task_defaulttask_index') }}#" title={{'menu.title.task.list'|trans({},'MainBundle')}}>
            <i class="fa-icon-undo"></i>&nbsp;{{ 'task.new.back'|trans }}
        </a>
    </div>
</form>
</script>

<!-- Modal Tag Form -->
<script id="modal-view-form-tag" type="text/html">
<div class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="Create period" aria-hidden="true">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
<h3 id="myModalLabel">Create Tag</h3>
</div>
<div class="modal-body">
    <form id="add-tag" action="#" class="form-inline">
    <div class="control-group begin">
      <label class="control-label" for="inputEmail">Nombre</label>
      <div class="controls">
        <input id="name" type="text" value="<%= name %>" name="name" data-validation="name">
        <span class="help-inline"></span>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
<button class="btn close-action" data-dismiss="modal" aria-hidden="true">Cancel</button>
<input class="btn btn-primary" type="submit">
</div>
</div>
<div class="modal-backdrop fade in"></div>
</script>

{% endblock %}
{% block javascripts %}
{{ parent() }}
{% javascripts
    '@TaskBundle/Resources/public/js/app.coffee'
    '@TaskBundle/Resources/public/js/formView.coffee'
    '@TaskBundle/Resources/public/js/tasks/tasks.coffee'
    '@TaskBundle/Resources/public/js/tags/tags.coffee'
    '@TaskBundle/Resources/public/js/tasks/tasksListView.coffee'
    '@TaskBundle/Resources/public/js/tags/tagsListView.coffee'
    '@TaskBundle/Resources/public/js/tasks/taskView.coffee'
    '@TaskBundle/Resources/public/js/tasks/tasksapp.coffee'
    '@TaskBundle/Resources/public/js/tasks/taskFormView.coffee'
    '@TaskBundle/Resources/public/js/tags/tagFormView.coffee'
%}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}
<script>
$(function() {
    BBTaskul.start();
});
</script>
<div id="modal"></div>
{% endblock %}
