{% form_theme form 'MainBundle:Form:fields.html.twig' %}
<div class="row-fluid">
    <div class="login-box">
        <div class="icons">
            <a href="{{ path('homepage') }}"><i class="icon-home"></i></a>
        </div>
        <h2>{% trans %}Reset your password{% endtrans %}</h2>

		<form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_resetting_reset" id="reset-pw-form">
        <fieldset>
            {% include "UserBundle:partials:password.html.twig" with {'form_name' : 'fos_user_resetting_form'} %}
            {{ form_errors(form.plainPassword.password)}}
            {{ form_widget(form._token) }}
            <div class="clearfix"></div>
            <div class="button-login">
             <button type="submit" class="btn btn-primary" name="_submit" ><i class="icon-off icon-white"></i> {{ 'resetting.reset.submit'|trans({}, 'FOSUserBundle') }}</button>
            </div>
        </fieldset>
        </form>
    </div><!--/row-->
</div><!--/fluid-row-->