<div class="well">
    <h2>{{ 'message.title'|trans( {}, 'MessageBundle') }}</h2>
      <p style="margin-bottom: 0;" class="muted">
        {{ 'message.content'|trans( {}, 'MessageBundle') }}
      </p>
</div>
{% if threads %}
<div class="pull-right" id="filter-list">{{'message.search'|trans({}, 'MessageBundle')}}: <input id="filter" type="text" autocomplete="off" /><a href="#clear" class="clear-filter btn" title="{{'message.search_clean'|trans({}, 'MessageBundle')}}" rel="tooltip"><i class="fa-icon-trash"></i></a></div>
<table class="table table-striped table-bordered bootstrap-datatable footable" id="list" data-filter="#filter">
    <thead>
        <tr>
            <th data-class="expand" data-sort-initial="true">{% trans from 'FOSMessageBundle' %}subject{% endtrans %}</th>
            <th data-hide="phone,tablet">{% trans from 'FOSMessageBundle' %}starter{% endtrans %}</th>
            <th data-hide="phone,tablet">{% trans from 'FOSMessageBundle' %}startdate{% endtrans %}</th>
            <th>{% trans from 'FOSMessageBundle' %}messages{% endtrans %}</th>
            <th data-hide="phone,tablet">{% trans from 'FOSMessageBundle' %}last_message{% endtrans %}</th>
            <th data-sort-ignore="true">{% trans from 'FOSMessageBundle' %}actions{% endtrans %}</th>
        </tr>
    </thead>

    <tbody>
        {% for thread in threads %}
            <tr>
                <td>
                    <a href="{{ path('fos_message_thread_view', {'threadId': thread.id}) }}" class="ajaxy btn btn-mini btn-inverse" title="{{ 'message.view.title'|trans({},'MessageBundle') }} : {{ thread.subject }}">
                    {% if not fos_message_is_read(thread) %}
                        <span class="label label-success">{% trans from 'FOSMessageBundle' %}new{% endtrans %}</span>
                    {% endif %}
                        <strong>{{ thread.subject }}</strong>&nbsp;&nbsp;<i class="fa-icon-arrow-right icon-white"></i>
                    </a>
                </td>
                <td>
                    {{ thread.createdBy }}
                </td>
                <td>
                    {{ thread.createdAt|date('d/m/y') }}
                </td>
                <td>
                    {{ thread.messages|length }}
                </td>
                <td>
                    {% if thread.lastMessage %}
                        <a href="{{ path('fos_message_thread_view', {'threadId': thread.id}) }}#message_{{ thread.lastMessage.id }}" title="{% trans from 'FOSMessageBundle' %}goto_last{% endtrans %}">
                            →
                        </a>
                        {% trans with {'%date%': thread.lastMessage.createdAt|date('d/m/y')} from 'FOSMessageBundle' %}on{% endtrans %}
                        <br />
                        {% trans with {'%sender%': thread.lastMessage.sender|e } from 'FOSMessageBundle' %}by{% endtrans %}
                    {% else %}
                        ----
                    {% endif %}
                </td>
                <td>
                     <button class="btn btn-danger modal-button" type="button" data-href="{{ path('fos_message_thread_delete', { 'id': thread.id }) }}" data-target="#deleteModal" data-toggle="modal"><i class="icon-trash icon-white"></i></button>

                </td>
            </tr>
        {% endfor %}

    </tbody>
    <tfoot class="footable-pagination">
                    <tr>
                      <td colspan="6"><ul id="pagination" class="footable-nav"></ul></td>
                    </tr>
    </tfoot>

</table>
{% endif %}
{% include 'MainBundle:partials:warning-message.html.twig' with { 'warningtitle': 'warning.title'|trans({},'MessageBundle'), 'warningcontent': 'no_thread'|trans({},'FOSMessageBundle')} only %}