<!-- inside a twig template -->
{{ facebook_initialize({'xfbml': true}) }}
{% if notshowlogin is not defined %}
<a href="#" class="circle facebook" onClick="fblogin();return false;" title="{{ 'user.facebook.login'|trans({},'UserBundle') }}" style="margin-right:0px">
    <img src="/img/face.png" alt="{{ 'user.facebook.login'|trans({},'UserBundle') }}">
</a>
{% endif %}
<script>
    function goLogIn(){
          window.location.href = "{{ path('fos_facebook_security_check') }}";
    }


    var fblogin = function() {
        FB.login(function(response) {
        if (response) {
            if (response.session || response.authResponse) {
                setTimeout(goLogIn, 500);
            } else {
                window.location.href = "{{ path('_security_logout') }}";
            }
        }},{scope:'email'}); //whatever perms your app needs
    };
</script>
