{% form_theme form 'MainBundle:Form:fields.html.twig' %}
<div id="sign_up2">
    <div class="container">
        <div class="row login">
            <div class="login-box">
                <div class="span5 left_box">
                    <h4>{% trans %}Create your account{% endtrans %}</h4>

                    <div class="perk_box">
                        <div class="perk">
                            <span class="icos ico1"></span>
                            <p><strong>Lorem alteration</strong> in some form  injected humour these randomised words .</p>
                        </div>
                        <div class="perk">
                            <span class="icos ico2"></span>
                            <p><strong>There are many variations</strong> of passages of Lorem alteration in some form  injected humour these randomised words.</p>
                        </div>
                        <div class="perk">
                            <span class="icos ico3"></span>
                            <p><strong>Alteration in some form</strong> injected humour these randomised words.</p>
                        </div>
                    </div>
                </div>
                <div class="span6 signin_box">
                    <div class="box">
                        <div class="box_cont">
                            <div class="social">
                                {% include "UserBundle:Helper:facebook_button.html.twig" %}
                            </div>

                            <div class="division">
                                <div class="line l"></div>
                                <span>or</span>
                                <div class="line r"></div>
                            </div>
                            <div class="form">
                                <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="validate ajaxform">
                                    <div class="control-group {% if form_errors(form.email) %} error {% endif %}">
                                    <div class="input-prepend">
                                        <span class="add-on"><i class="icon-user"></i></span>
                                        <input type="email" id="fos_user_registration_form_email" name="fos_user_registration_form[email]" required="required" class=" email required" placeholder="{% trans %}Type email{% endtrans %}" {% if user.email %} value="{{ user.email }}" {% else %} value="{{ form.email.vars.value }}" {% endif %}>
                                        {{ form_errors(form)}}
                                    </div>
                                    </div>
                                    {% include "UserBundle:partials:password.html.twig" with {'form_name' : 'fos_user_registration_form'} %}
                                    <input type="submit" class="" name="_submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" >
                                   {{ form_widget(form._token) }}
                                </form>
                                 <hr>

                                {% include "UserBundle:partials:forgot_password.html.twig" %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>