{% extends app.request.isXmlHttpRequest ? "::base_ajax.html.twig" : "::private.html.twig" %}
{% block content %}

<div class="row-fluid">

	<div ondesktop="span8" ontablet="span12" class="box span8">
		<div class="box">
			<div class="box-header">
				<h2><i class="icon-signal"></i><span class="break"></span>{{ 'notification.latest'|trans( {}, 'TimelineBundle' ) }}</h2>
				<div class="box-icon">
					<a class="btn-minimize" href="#"><i class="icon-chevron-up"></i></a>
				</div>
			</div>
			<div class="box-content">
				<ul class="dashboard-list">
					{% for action in timeline %}
							<li>
					            <i class="icon-{{ action.modelDesc('complement') }}"></i>{{ i18n_timeline_render(action, app.request.locale) }}
					        </li>
		    		{% else %}
					    <div class="alert alert-info" id="no-result">
	                    <h4 class="alert-heading">Info</h4>
	                    <p>{{ 'notification.no_result'|trans( {}, 'TimelineBundle' ) }}</p>
	                    </div>
					{% endfor %}
				</ul>
			</div>
		</div>
		<div class="box">
			<div class="box-header">
				<h2><i class="icon-hand-up"></i><span class="break"></span>{{ 'dashboard.quick_links.box_header'|trans( {}, 'MainBundle' ) }}</h2>
				<div class="box-icon">
					<a class="btn-minimize" href="#"><i class="icon-chevron-up"></i></a>
				</div>
			</div>
			<div class="box-content">

				<a class="quick-button-small span1 ajaxy" href="{{path('api_get_tasks')}}" rel="tooltip" title="{{ 'dashboard.quick_links.titles.list_tasks'|trans( {}, 'MainBundle' ) }}">
					<i class="fa-icon-tasks"></i>
					<p>{{ 'dashboard.quick_links.list_tasks'|trans( {}, 'MainBundle' ) }}</p>
				</a>
				<a class="quick-button-small span1 ajaxy" href="{{path('api_new_task')}}" rel="tooltip" title="{{ 'dashboard.quick_links.titles.new_task'|trans( {}, 'MainBundle' ) }}">
					<i class="fa-icon-plus-sign"></i>
					<p>{{ 'dashboard.quick_links.new_task'|trans( {}, 'MainBundle' ) }}</p>
				</a>
				<a class="quick-button-small span1 ajaxy" href="{{path('fos_message_thread_new')}}" rel="tooltip" title="{{ 'dashboard.quick_links.titles.new_message'|trans( {}, 'MainBundle' ) }}">
					<i class="fa-icon-comments-alt"></i>
					<p>{{ 'dashboard.quick_links.new_message'|trans( {}, 'MainBundle' ) }}</p>
				</a>
				<a class="quick-button-small span1 ajaxy" href="{{path('frequest_new')}}" rel="tooltip" title="{{ 'dashboard.quick_links.titles.new_friend_request'|trans( {}, 'MainBundle' ) }}">
					<i class="fa-icon-envelope"></i>
					<p>{{ 'dashboard.quick_links.new_friend_request'|trans( {}, 'MainBundle' ) }}</p>
				</a>
				<a class="quick-button-small span1 ajaxy" href="{{path('import_fb')}}" rel="tooltip" title="{{ 'dashboard.quick_links.titles.new_fb'|trans( {}, 'MainBundle' ) }}">
					<i class="fa-icon-facebook"></i>
					<p>{{ 'dashboard.quick_links.new_fb'|trans( {}, 'MainBundle' ) }}</p>
				</a>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>

	<div ondesktop="span4" ontablet="span12" class="box span4 noMargin">
		<div class="box">
			<div class="box-header">
				<h2><i class="icon-list"></i><span class="break"></span>{{ 'dashboard.current_quota.box_header'|trans( {}, 'MainBundle') }}</h2>
				<div class="box-icon">
					<a class="btn-minimize" href="#"><i class="icon-chevron-up"></i></a>
				</div>
			</div>
			<div class="box-content">
				<div class="row-fluid">
					<div class="span12">
						<h2>{{ 'dashboard.current_quota.title'|trans( {}, 'MainBundle') }}</h2>
						<div class="well">
						  <p style="margin-bottom: 0;" class="muted">
							{{ 'dashboard.current_quota.content'|trans( {}, 'MainBundle') }}
						  </p>
						</div>
					</div>
					<div class="span12">
						<div class="circleStatsItem red">
		                    <i class="fa-icon-thumbs-up"></i>
		                    <span class="plus">+</span>
		                    <span class="percent">%</span>

		                    <input type="text" value="{{current_quota}}" class="orangeCircle" id="dial-quota"/>
		                </div>
	                </div>
				</div>
			</div>
		</div>
	</div><!--/span-->

</div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
{% javascripts
    '@MainBundle/Resources/public/js/dashboard.js'
output='js/main/dashboard.js'%}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}