{% extends app.request.isXmlHttpRequest ? "::base_ajax.html.twig" : "::public.html.twig" %}
{% trans_default_domain "MainBundle" %}
{% block title %}{{'index.title'|trans}}{% endblock %}
{% block description %}<meta name="description" content="{{'index.description'|trans}}" />{% endblock %}
{% block keywords %}<meta name="keywords" content="{{'index.keywords'|trans}}" />{% endblock %}
{% block content %}
    <section id="feature_slider">
        <article class="slide" id="showcasing">
            <img class="asset left-30 sp600 t120 z1" src="img/slides/scene1/taskul_net-list_b.png" alt="{{ 'index.slide.slide1.img.alt'|trans}}"/>
            <div class="info">
                <h2>{{ 'index.slide.slide1.content1'|trans}}</h2>
                <a href="{{ path('fos_user_registration_register') }}" class="ajaxy btn-trans" title="{{ 'index.slide.slide1.content2_title'|trans}}">{{ 'index.slide.slide1.content2'|trans}}</a>
            </div>
        </article>
        <article class="slide" id="responsive">

            <img class="asset left-472 sp600 t120 z3" src="img/slides/scene2/taskul_net-files1_b.png" alt="{{ 'index.slide.slide2.img1_alt'|trans}}" />
            <img class="asset left-310 sp500 t120 z2" src="img/slides/scene2/taskul_net-files2_b.png" alt="{{ 'index.slide.slide2.img2_alt'|trans}}" />
            <div class="info">
                <h2>{{ 'index.slide.slide2.content'|trans}}</h2>
            </div>
        </article>
        <article class="slide" id="tour">
            <img class="asset left-472 sp650 t110 z3" src="img/slides/scene3/taskul_edit1_b.png" alt="{{ 'index.slide.slide3.img1_alt'|trans}}" />
            <div class="info">
                <h2>{{ 'index.slide.slide3.content1'|trans}}</h2>
                <a href="{{ path('homepage') }}#features" title="{{ 'index.slide.slide3.content2_title'|trans}}" class="scroll" data-scroll="#features">{{ 'index.slide.slide3.content2'|trans}}</a>
            </div>
        </article>
    </section>

    <div  id="features" class="features_page">
        <div class="container">
             <!-- Feature Wrapper -->
            <div class="feature_wrapper option2">
                <div class="section_header">
                    <h1>{{ 'index.title1'|trans}}</h1>
                </div>
                <div class="row intro">
                    <p>{{'index.paragraph1'|trans|raw}}</p>
                </div>
                <!-- Features Row -->
                <div class="row">
                    <!-- Feature -->
                    <div class="span6 feature">
                        <div class="box">
                            <img class="one" src="img/icons/People-128.png" alt="{{'index.block1.img_alt'|trans}}"/>
                        </div>
                        <div class="text">
                            <h6>{{'index.block1.title'|trans}}</h6>
                            <p>
                               {{'index.block1.content'|trans}}
                           </p>
                        </div>
                    </div>
                    <!-- Feature -->
                    <div class="span6 feature right">
                        <div class="box">
                            <img class="two" src="img/icons/Files-128.png" alt="{{'index.block2.img_alt'|trans}}"/>
                        </div>
                        <div class="text">
                            <h6>{{'index.block2.title'|trans}}</h6>
                            <p>
                               {{'index.block2.content'|trans}}
                           </p>
                        </div>
                    </div>
                </div>

                <!-- Features Row -->
                <div class="row last">
                    <!-- Feature -->
                    <div class="span6 feature">
                        <div class="box">
                            <img class="one" src="img/icons/Message-128.png" alt="{{'index.block3.img_alt'|trans}}"/>
                        </div>
                        <div class="text">
                            <h6>{{'index.block3.title'|trans}}</h6>
                            <p>
                               {{'index.block3.content'|trans}}
                           </p>
                        </div>
                    </div>
                    <!-- Feature -->
                    <div class="span6 feature right">
                        <div class="box">
                            <img class="two" src="img/icons/Messages-128.png" alt="{{'index.block4.img_alt'|trans}}"/>
                        </div>
                        <div class="text">
                            <h6>{{'index.block4.title'|trans}}</h6>
                            <p>
                               {{'index.block4.content'|trans}}
                           </p>
                        </div>
                    </div>
                </div>
                <!-- Features Row -->
                <div class="row last">
                    <!-- Feature -->
                    <div class="span6 feature">
                        <div class="box">
                            <img class="one" src="img/icons/Tag-128.png" alt="{{'index.block5.img_alt'|trans}}"/>
                        </div>
                        <div class="text">
                            <h6>{{'index.block5.title'|trans}}</h6>
                            <p>
                               {{'index.block5.content'|trans}}
                           </p>
                        </div>
                    </div>
                    <!-- Feature -->
                    <div class="span6 feature right">
                        <div class="box">
                            <img class="two" src="img/icons/ProgressIndicator-128.png" alt="{{'index.block6.img_alt'|trans}}"/>
                        </div>
                        <div class="text">
                            <h6>{{'index.block6.title'|trans}}</h6>
                            <p>
                               {{'index.block6.content'|trans}}
                           </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'MainBundle::partials/news.html.twig' only %}
    <div id="helpus" class="features_page">
        <div class="container">
            <div class="section_header">
                <h3>{{'index.helpus.title'|trans}}</h3>
            </div>
            <div class="row intro">
                <h6>
                    {{'index.helpus.content'|trans|raw}}
                </h6>

            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
{% javascripts
    '@MainBundle/Resources/public/js/index-slider.js'
output='js/main/index.js' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}