{% extends app.request.isXmlHttpRequest ? "::base_ajax.html.twig" : "::public.html.twig" %}
{% trans_default_domain "MainBundle" %}
{% block title %}{{'legal_content.title'|trans}}{% endblock %}
{% block content %}
<div id="service_2" class="top140">
        <div class="container">
            <div class="section_header">
                <h3>{{'legal'|trans}}</h3>
            </div>
            <div class="row perk">
                <div class="span2 circle">
                    <img src="img/icons/Warning-Shield-128.png" alt="{{'legal_content.title'|trans}}">
                </div>

                <div class="span10 description_wrapper">
                    <h5>{{'legal_content.title1'|trans}}</h5>
                    <p>{{'legal_content.content1'|trans}}</p>
                    <h5>{{'legal_content.title2'|trans}}</h5>
                    <p>{{'legal_content.content2'|trans}}</p>
                    <h5>{{'legal_content.title3'|trans}}</h5>
                    <p>{{'legal_content.content3'|trans}}</p>
                    <h5>{{'legal_content.title4'|trans}}</h5>
                    <p>{{'legal_content.content4'|trans}}</p>
                    <h5>{{'legal_content.title5'|trans}}</h5>
                    <p>{{'legal_content.content5'|trans}}</p>
                    <h5>{{'legal_content.title6'|trans}}</h5>
                    <p>{{'legal_content.content6'|trans}}</p>
                    <h5>{{'legal_content.title7'|trans}}</h5>
                    <p>{{'legal_content.content7'|trans}}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}