{% extends app.request.isXmlHttpRequest ? "::base_ajax.html.twig" : "::public.html.twig" %}
{% trans_default_domain "MainBundle" %}
{% block title %}{{'privacy_content.title'|trans}}{% endblock %}
{% block content %}
<div id="service_2" class="top140">
        <div class="container">
            <div class="section_header">
                <h3>{{'privacy'|trans}}</h3>
            </div>
            <div class="row perk">
                <div class="span2 circle circle1">
                    <img src="img/icons/Finger-Print-128.png" alt="{{'privacy'|trans}}">
                </div>

                <div class="span10 description_wrapper">
                    <h5>{{'privacy_content.title1'|trans}}</h5>
                    <p>{{'privacy_content.content1'|trans|raw}}</p>
                    <h5>{{'privacy_content.title2'|trans}}</h5>
                    <p>{{'privacy_content.content2'|trans|raw}}</p>
                    <h5>{{'privacy_content.title3'|trans}}</h5>
                    <p>{{'privacy_content.content3'|trans|raw}}</p>
                    <h5>{{'privacy_content.title4'|trans}}</h5>
                    <p>{{'privacy_content.content4'|trans|raw}}</p>
            </div>

        </div>
    </div>
{% endblock %}