{% extends app.request.isXmlHttpRequest ? "::base_ajax.html.twig" : "TaskBundle::layout.html.twig" %}
{% trans_default_domain "TaskBundle" %}
{% block content %}
{{ apy_breadcrumb_trail_render() }}
<div id="main" ng-app="myApp">
<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header" data-original-title>
            <h2><i class="icon-user"></i><span class="break"></span>{{'task.list.title'|trans}}</h2>
            <div class="box-icon">
            <a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
            </div>
        </div>
        <div class="box-content">
          <section id="periodsapp">
              <div class="row">
                <div class="span5 offset1" id="calendar">
                </div>
                <div class="span4">
                    <form id="addPeriod" action="#">
                        <div>
                            <input id="begin" type="hidden" value="{{ "now"|date("c") }}">
                            <input id="end" type="hidden" value="{{ "now"|date("c") }}" >
                            <div class="well" style="overflow: auto">
                                <div id="reportrange" class="pull-left reportrange">
                                  <i class="glyphicon glyphicon-calendar icon-calendar icon-large"></i>
                                  <span></span> <b class="caret"></b>
                                </div>
                           </div>
                            <button id="add">Add</button>
                        </div>
                        <section id="periods">
                        </section>
                    </form>
                  </div>
              </div>
            </section>
         </div>
    </div><!--/box-->
</div>
</div>
<script id="periodTemplate" type="text/template">
    <ul>
        <li><% print(moment(begin).format('DD-MM-YYYY')) %></li>
        <li><% print(moment(end).format('DD-MM-YYYY')) %></li>
    </ul>

    <button class="delete">Delete</button>
</script>
<script id="calendarTemplate" type="text/template">
<!-- Responsive calendar - START -->
<div class="responsive-calendar">
  <div class="controls">
      <a class="pull-left" data-go="prev"><div class="btn"><i class="icon-chevron-left"></i></div></a>
      <h4 class="timeInfo"></h4>
      <a class="pull-right" data-go="next"><div class="btn"><i class="icon-chevron-right"></i></div></a>
  </div><hr/>
  <div class="day-headers">
    <div class="day header">Mon</div>
    <div class="day header">Tue</div>
    <div class="day header">Wed</div>
    <div class="day header">Thu</div>
    <div class="day header">Fri</div>
    <div class="day header">Sat</div>
    <div class="day header">Sun</div>
  </div>
  <div class="days" data-group="days">
    <!-- the place where days will be generated -->
  </div>
</div>
<!-- Responsive calendar - END -->
</script>
<script>
        window.Api = {
            get_periods: '{{ path('api_get_task_periods', {'idTask': idTask} )|escape('js') }}'
        }

        window.Data = {
            periods: {{ periods|serialize|raw }}
        }
</script>
{% endblock %}
{% block javascripts %}
{{ parent() }}
{% javascripts
    '@TaskBundle/Resources/public/js/models/period.js'
    '@TaskBundle/Resources/public/js/collections/periods.js'
    '@TaskBundle/Resources/public/js/views/calendar.js'
    '@TaskBundle/Resources/public/js/views/period.js'
    '@TaskBundle/Resources/public/js/views/periods.js'
    '@TaskBundle/Resources/public/js/app.js'
     output='js/compiled/periods.min.js' %}
  <script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}