{% extends app.request.isXmlHttpRequest ? "::base_ajax.html.twig" : "TaskBundle::layout.html.twig" %}
{% form_theme form 'MainBundle:Form:fields.html.twig' %}
    {% block content %}
    {{ apy_breadcrumb_trail_render() }}
    <div class="row-fluid sortable">
        <div class="box span12">
            <div class="box-header" data-original-title>
                <h2><i class="icon-user"></i><span class="break"></span>Task creation</h2>
                <div class="box-icon">
                    <a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
                </div>
            </div>
            <div class="box-content">

                {% set route = 'api_' ~ method|lower ~ '_task' %}
                {% if method == 'post' %}
                <form class="form-horizontal validate" action="{{ path( route ) }}" method="post" {{ form_enctype(form) }} id="form_task">
                    {% else %}
                    <form class="form-horizontal validate" action="{{ path( route, { id: id } ) }}" method="post" {{ form_enctype(form) }} id="form_task">
                        {% endif %}
                        <input type="hidden" name="_method" value="{{ method }}" >
                        <input type="hidden" name="goto_upload" value="0" >
                        {{ form_errors(form) }}

                        <fieldset>
                            {{ form_row(form.name,{'help':'sdasdasasda', 'atrr': { 'class':'required', 'minlength':'10' } }) }}
                            {{ form_row(form.status) }}
                            {{ form_row(form.description, {'attr':
                            {'placeholder':'Introduzca una descripción ...', 'class':'nicEdit span11 required','rows':'10','minlength':'8' } } ) }}
                            {{ form_row(form.dateEnd, { 'attr': {'data-date-format': 'dd/mm/yyyy'} }) }}

                            {{ form_row(form.tags,{ 'attr': {'style':'min-width:298px'} } ) }}
                            {{ form_row(form.members,{ 'attr': {'style':'width:298px'} } ) }}

                            {{ form_rest(form) }}
                        </fieldset>
                        <div class="form-actions">
                            <button class="btn btn-primary" type="submit" value="0">Terminar</button>
                            <button class="btn btn-primary" type="submit" value="1">Añadir ficheros</button>
                            <a class="btn btn-cancel ajaxy" href="{{ path('api_get_tasks') }}">
                                <i class="fa-icon-undo"></i>&nbsp;Back to the list
                            </a>
                        </div>
                    </form>
                </div>

            </div><!--/box-->

        </div><!--/row-->
{% endblock %}
{% block javascripts %}
{{ parent() }}
{% javascripts
    '@MainBundle/Resources/public/js/vendor/nicEdit-latest.js'
    '@TaskBundle/Resources/public/js/form.js'
    %}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}