{% extends app.request.isXmlHttpRequest ? "::base_ajax.html.twig" : "TaskBundle::layout.html.twig" %}
{% trans_default_domain "TaskBundle" %}
{% block content %}
{{ apy_breadcrumb_trail_render() }}
<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header" data-original-title>
            <h2><i class="icon-user"></i><span class="break"></span>{{'task.list.title'|trans}}</h2>
            <div class="box-icon">
            <a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
            </div>
        </div>
        <div class="box-content">
            {% if entities|length > 0 %}
            <div class="pull-right" id="filter-list">{{'search.title'|trans}}: <input id="filter" type="text" autocomplete="off" /><a href="#clear" class="clear-filter btn" title="{{'task.search_clean'|trans({},'TaskBundle')}}" rel="tooltip"><i class="fa-icon-trash"></i></a></div>
            <table class="table table-striped table-bordered bootstrap-datatable footable" id="list" data-filter="#filter">
                <thead>
                    <tr>
                        <th data-class="expand" data-sort-initial="true">{{'task.list.name'|trans}}</th>
                        <th data-hide="phone,tablet">{{'task.list.status'|trans}}</th>
                        <th data-sort-ignore="true" data-hide="default,phone,tablet">Tags</th>
                        <th data-sort-ignore="true" width="200px">{{'lists.actions'|trans({},'MainBundle')}}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entity in entities %}
                    <tr>
                        <td>
                            {% if is_granted('VIEW', entity) %}
                                <a href="{{ path('api_get_task', { 'id': entity.id }) }}" class="ajaxy" title="{{'task.list.buttons.view'|trans({},'TaskBundle')}} :: {{ entity.name }}">
                                    {{ entity.name }} →
                                </a>
                            {% else %}
                                {{ entity.name }}
                            {% endif %}

                        </td>
                        <td>

                            {{ entity.status|status(entity.status)|raw }}
                        </td>

                        <td>
                            {% if entity.tags|length > 0 %}
                                {{ entity.tags|labelsinactive|raw }}
                            {% else %}
                                {{'task.list.notags'|trans({},'TaskBundle')}}
                                {% endif %}
                        </td>
                        <td>
                                {% if is_granted('VIEW', entity) %}
                                    <a href="{{ path('api_get_task', { 'id': entity.id }) }}" class="btn btn-info ajaxy" title="{{'task.list.buttons.view'|trans({},'TaskBundle')}} :: {{ entity.name }}"><i class="icon-zoom-in icon-white"></i></a>
                                {% endif %}
                                {% if is_granted('EDIT', entity) %}
                                    <a href="{{ path('api_edit_task', { 'id': entity.id }) }}" class="btn btn-success ajaxy" title="{{'task.list.buttons.edit'|trans({},'TaskBundle')}} :: {{ entity.name }}"><i class="icon-edit icon-white"></i></a>
                                {% endif %}
                                {% if is_granted('DELETE', entity) %}
                                <button class="btn btn-danger modal-button" data-href="{{ path('api_delete_task', { 'id': entity.id }) }}" data-target="#deleteModal" data-toggle="modal" type="button" title="{{'task.list.buttons.delete'|trans({},'TaskBundle')}} :: {{ entity.name }}"><i class="icon-trash icon-white"></i></button>
                                {% endif %}
                        </td>
                        </tr>
                        {% endfor %}
                </tbody>
                <tfoot class="footable-pagination">
                    <tr>
                      <td colspan="4"><ul id="pagination" class="footable-nav"></ul></td>
                    </tr>
                </tfoot>
            </table>
                {% endif %}
                {% include 'MainBundle:partials:warning-message.html.twig' with { 'warningtitle': 'warning.title'|trans, 'warningcontent': 'warning.content'|trans({'%href%': path('api_new_task')}, 'TaskBundle') } only %}
                <div class="well">
                   <a href="{{ path('api_new_task') }}" class="btn ajaxy btn-primary" title="{{'task.list.buttons.new'|trans({},'TaskBundle')}}">
                    {{'task.list.buttons.new'|trans({},'TaskBundle')}}
                    </a>
                </div>
        </div>
    </div><!--/box-->

</div><!--/row-->
{% include 'MainBundle:partials:delete-modal.html.twig' with {'type':'task'} %}
{% endblock %}
{% block javascripts %}
{{ parent() }}
{% javascripts
    '@TaskBundle/Resources/public/js/index.js'
    %}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}