{% extends app.request.isXmlHttpRequest ? "::base_ajax.html.twig" : "TaskBundle::layout.html.twig" %}
{% block content %}
{{ apy_breadcrumb_trail_render() }}
<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header" data-original-title>
            <h2><i class="icon-user"></i><span class="break"></span>List Files</h2>
            <div class="box-icon">
                <a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
            </div>
        </div>
        <div class="box-content">

            <div class="row-fluid">
                <div class="span10">

                    <table class="table table-striped table-bordered bootstrap-datatable datatable" id="list">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for entity in documents %}
                            <tr id="#row{{ entity.id }}">
                                <td>{{ entity.name }}</td>
                                <td>
                                    {% if is_granted('VIEW', entity) %}
                                    <a href="{{ path('api_download_file', { 'id': entity.id }) }}" class="btn btn-info" title="show"><i class="icon-zoom-in icon-white"></i></a>
                                    {% endif %}
                                    {% if is_granted('DELETE', entity) %}
                                    <button class="btn btn-danger delete-modal-btn" type="button" data-task-id="{{ entity.idObject }}" data-document-id="{{ entity.id }}" data-target="#deleteModal" data-toggle="modal"><i class="icon-trash icon-white"></i></button>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
                <div class="span2">
                 <div class="circleStatsItem red">
                    <i class="fa-icon-thumbs-up"></i>
                    <span class="plus">+</span>
                    <span class="percent">%</span>

                    <input type="text" value="{{ current_quota }}" class="orangeCircle" id="dial-quota"/>
                </div>
            </div>
        </div>
        <div class="box-content">
            <div class="uploader"><input id="fileupload" type="file" name="files[]" data-url="{{ path('api_post_task_file', { id: taskId } ) }}.json" multiple></div>
        </div>

    </div><!--/box-->
</div>
</div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
{% javascripts
    '@FileBundle/Resources/public/js/listFiles.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}