{% extends app.request.isXmlHttpRequest ? "::base_ajax.html.twig" : "TaskBundle::layout.html.twig" %}
    {% block content %}
    {{ apy_breadcrumb_trail_render() }}
    <div class="row-fluid sortable">
        <div class="box span8">
            <div class="box-header" data-original-title>
                <h2><i class="icon-user"></i><span class="break"></span>{{ 'task.view.title'|trans({}, 'TaskBundle') }}</h2>
                <div class="box-icon">
                    <a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
                </div>
            </div>
            <div class="box-content">

                <table class="table">
                    <tbody>
                        <tr>
                            <th>{{ 'task.view.name'|trans({}, 'TaskBundle') }}</th>
                            <td>{{ entity.name }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'task.view.description'|trans({}, 'TaskBundle') }}</th>
                            <td>{{ entity.description|raw }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'task.view.dateend'|trans({}, 'TaskBundle') }}</th>
                            <td>{{ entity.dateEnd|date('d-m-Y') }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'task.view.tags'|trans({}, 'TaskBundle') }}</th>
                            <td>{{ entity.tags|labelsinactive|raw }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'task.view.status'|trans({}, 'TaskBundle') }}</th>
                            <td>{{ entity.status|status(entity.status)|raw }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'task.view.percent'|trans({}, 'TaskBundle') }}</th>
                            <td>{{ entity.percent }}</td>
                        </tr>
                    </tbody>
                </table>
                 <form class="form-horizontal">
                        <fieldset>
                <div class="form-actions">

                    {% if is_granted('DELETE',entity) %}
                    <button class="btn btn-danger modal-button" type="button" data-target="#deleteModal" data-toggle="modal" data-id="{{ entity.id }}">
                        <i class="icon-trash icon-white"></i>&nbsp;{{ 'task.actions.delete'|trans({}, 'TaskBundle') }}
                    </button>

                    {% endif %}
                    {% if is_granted('EDIT',entity) %}
                    <a href="{{ path('api_edit_task', { 'id': entity.id }) }}" class="btn btn-success ajaxy" data-redirect="api_get_tasks">
                        <i class="icon-edit icon-white"></i>&nbsp;{{ 'task.actions.edit'|trans({}, 'TaskBundle') }}
                    </a>
                    {% endif %}
                    <a class="btn btn-cancel ajaxy btn-back-list" href="{{ path('api_get_tasks') }}">
                        <i class="fa-icon-undo"></i>&nbsp;{{ 'task.actions.back'|trans({}, 'TaskBundle') }}
                    </a>

                </div>
                </fieldset>
                </form>
            </div>
        </div>
        <div class="box span4">
            <div class="box-header" data-original-title>
                <h2><i class="icon-user"></i><span class="break"></span>Comentarios</h2>
                <div class="box-icon">
                    <a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
                </div>
            </div>
            <div class="box-content">
               <div id="fos_comment_thread"></div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
{% javascripts
    '@TaskBundle/Resources/public/js/show.js'
    %}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': entity.id} %}
{% endblock %}