{% extends "FriendBundle::layout.html.twig" %}
    {% block body %}
    {{ parent() }}
    {% include 'FriendBundle:partials:delete-modal.html.twig' %}
    {% endblock %}
{% block content %}
{{ apy_breadcrumb_trail_render() }}
<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header" data-original-title>
            <h2><i class="icon-user"></i><span class="break"></span>Listado de amigos</h2>
            <div class="box-icon">
            <a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
            </div>
        </div>
        <div class="box-content">
{% if entities|length > 0 %}

<table class="table table-striped table-bordered bootstrap-datatable datatable" id="list">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><img src="https://graph.facebook.com/{{ entity.facebookId }}/picture"> {{ entity.firstname }}</td>
            <td>{{ entity.email }}</td>
            <td>
                    <button class="btn btn-danger delete-modal-btn" type="button" data-id="{{ entity.id }}" data-target="#deleteModal" data-toggle="modal"><i class="fa-icon-trash icon-white"></i></button>

            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% else %}
<div class="alert alert-block ">
                            <h4 class="alert-heading">Warning!</h4>
                            <p>No hay ningún amigo. Si quieres enviar invitaciones por email utiliza <a href="{{ path('frequest_new') }}">este formulario</a> o si quieres invitar a tus amigos de facebook utiliza <a href="{{ path('import_fb') }}">este otro formulario</a>.</p>
                        </div>
{% endif %}
</div>
</div>
</div>
{% endblock %}
{% block javascripts %}
{% if entities|length > 0 %}
<script src="//ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
{% javascripts
    '@MainBundle/Resources/public/js/datatables-boostrap.js'
    '@FriendBundle/Resources/public/js/friendOps.js'
    %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endif %}
{% endblock %}
