{% extends app.request.isXmlHttpRequest ? "::base_ajax.html.twig" : "FriendBundle::layout/friendrequest.html.twig" %}
{% block content %}
{{ apy_breadcrumb_trail_render() }}
{% include "UserBundle:Helper:facebook_button.html.twig" %}

<div class="row-fluid sortable">
  <div class="box span12">
    <div class="box-header" data-original-title>
      <h2><i class="icon-user"></i><span class="break"></span>Invita a tus amigos</h2>
      <div class="box-icon">
        <a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
      </div>
    </div>
    <div class="box-content">
      {% if frequest|length > 0%}
      Se han enviado {{ frequest|length }} invitaciones.
      {% else %}
      <form action="" method="post" {{ form_enctype(form) }} id="form" class="form-horizontal">
        <legend>Selecciona los amigos</legend>
        <div class="row-fluid">
          <div class="span6">
            <div class="control-group">
              <label class="control-label" for="ckall">Seleccionar todos</label>
              <div class="controls">
                <div class="switch" id="checkAll" data-on-label="<i class='icon-ok icon-white'></i>" data-off-label="<i class='icon-remove'></i>" tabindex="0"><input type="checkbox" data-no-uniform="true" id="ckall"></div>
              </div>
            </div>
          </div>
          <div class="span6">
            <div class="control-group">
              <label class="control-label" for="ckinvert">Invertir selección</label>
              <div class="controls">
                <div class="switch" id="checkInvert" data-on-label="<i class='icon-ok icon-white'></i>" data-off-label="<i class='icon-remove'></i>" tabindex="0"><input type="checkbox" data-no-uniform="true" id="ckinvert"></div>
              </div>
            </div>
          </div>
        </div>

        <fieldset id="slaves">
          {% for t in form.contacts %}
          {% if loop.index0 % 4 == 0 %}
          <div class="row-fluid">
            {% endif %}
            <span class="span3">
              {{ form_widget(t, {'attr': {'class':'pretty friends', 'data-no-uniform':'true'} } )}}
              {% if imgUrls[loop.index0] is defined %}
              <img src="{{ imgUrls[loop.index0] }}" />
              {% endif %}
              {{ form_label(t)}}


            </span>
            {% if loop.index % 4 == 0 or loop.last %}
          </div>
          {% endif %}
          {% endfor %}
        </fieldset>
        <legend>Introduce el mensaje a enviar</legend>
        <fieldset>
          {{ form_rest(form) }}
          <input type="hidden" value="no" name="form[sended]" id="form_sended" />

          <div class="form-actions">
            <button type="button" id="sendinvfb" class="btn btn-primary">Send Request to Users Directly</button>
          </div>
        </fieldset>
      </form>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
{% javascripts
'@MainBundle/Resources/public/js/vendor/prettyCheckable.js'
'@MainBundle/Resources/public/js/vendor/jquery.checkall.js'
'@MainBundle/Resources/public/js/vendor/bootstrapSwitch.js'
'@FriendBundle/Resources/public/js/friendrequest/importFacebook.js'
%}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}