{% extends app.request.isXmlHttpRequest ? "::base_ajax.html.twig" : "FriendBundle::layout/friendrequest.html.twig" %}
{% trans_default_domain "FriendBundle" %}
{% block content %}
{{ apy_breadcrumb_trail_render() }}

<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header" data-original-title="Request Sended">
            <h2><i class="icon-user"></i><span class="break"></span>{{'friendrequest.sended.title'|trans}}</h2>
            <div class="box-icon">
                <a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
            </div>
        </div>
        <div class="box-content">
            {% if entities|length > 0 %}
            <div class="pull-right" id="filter-list">{{'search.title'|trans({},'MainBundle')}}: <input id="filter" type="text" autocomplete="off" /><a href="#clear" class="clear-filter btn" title="{{'friend.search_clean'|trans}}" rel="tooltip"><i class="fa-icon-trash"></i></a></div>
            <table class="table table-striped table-bordered bootstrap-datatable footable" id="list" data-filter="#filter">
                <thead>
                    <tr>
                        <th data-class="expand">{{'friendrequest.list.to'|trans}}</th>
                        <th data-hide="phone" data-sort-initial="true">{{'friendrequest.list.date_sended'|trans}}</th>
                        <th data-sort-ignore="true">{{'lists.actions'|trans({},'MainBundle')}}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entity in entities %}
                    <tr>
                        <td>
                            {% if entity.email is not none %}
                            <strong>{{ entity.email }}</strong>
                            {% else %}
                            {% if entity.addtionalData.fbdata.imgurl is defined %}
                            <img src="{{ entity.addtionalData.fbdata.imgurl }}" />&nbsp;<strong>{{ entity.addtionalData.fbdata.name }}</strong>
                            {% endif %}
                            {% endif %}
                        </td>
                        <td>{{entity.created|date("d/m/Y")}}</tD>
                        <td>
                            {% if is_granted('VIEW',entity) %}
                            <a href="{{ path('frequest_show', { 'id': entity.id }) }}" class="btn btn-info ajaxy" title="{{'friendrequest.list.buttons.show'|trans}}"><i class="fa-icon-eye-open icon-white"></i></a>
                            {% endif %}
                            {% if is_granted('DELETE',entity) %}
                            <button class="btn btn-danger delete-modal-btn modal-button" type="button" data-href="{{ path('frequest_delete', { 'id': entity.id }) }}" data-target="#deleteModal" data-toggle="modal" title="{{'friendrequest.list.buttons.delete'|trans}}"><i class="fa-icon-trash icon-white"></i></button>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot class="footable-pagination">
                    <tr>
                      <td colspan="3"><ul id="pagination" class="footable-nav" /></td>
                    </tr>
                  </tfoot>
            </table>
            {% endif %}
            {% include 'MainBundle:partials:warning-message.html.twig' with { 'warningtitle': 'warning.title'|trans, 'warningcontent': 'friendrequest.warning.text'|trans({ '%email_form_contact%': path('frequest_new'), '%fb_form_contact%': path('import_fb') },'FriendBundle')|raw } only %}            <div class="well">
                <a class="btn btn-primary ajaxy" href="{{ path('frequest_new') }}" title="{{'friendrequest.list.buttons.new'|trans}}">
                    <i class="fa-icon-envelope"></i>&nbsp;{{'friendrequest.list.buttons.new'|trans}}
                </a>
            </div>
        </div>
    </div>
</div>
{% include 'MainBundle:partials:delete-modal.html.twig' with {'type': 'frequest_delete'} %}
{% endblock %}
{% block javascripts %}
{{ parent() }}
{% javascripts
'@FriendBundle/Resources/public/js/friendrequest/indexSended.js'
output='js/friend/sended.js' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}