{% extends app.request.isXmlHttpRequest ? "::base_ajax.html.twig" : "FriendBundle::layout/friendrequest.html.twig" %}
{% block content %}
{{ apy_breadcrumb_trail_render() }}

<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header" data-original-title>
            <h2><i class="icon-user"></i><span class="break"></span>Request Recibed</h2>
            <div class="box-icon">
                <a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
            </div>
        </div>
        <div class="box-content">
            {% if entities|length > 0 %}

            <table class="table table-striped table-bordered bootstrap-datatable datatable" id="list">
                <thead>
                    <tr>
                        <th>Message</th>
                        <th>From</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entity in entities %}
                    <tr>
                        <td>{{ entity.message }}</td>
                        <td>{{ entity.from }}</td>
                        <td>
                           {% if is_granted('VIEW',entity) %}
                           <a href="{{ path('frequest_show', { 'id': entity.id }) }}" class="btn btn-info" title="View"><i class="fa-icon-eye-open icon-white"></i></a>
                           {% endif %}
                           {% if app.user == entity.to %}
                           <button type="button" class="btn btn-success activate-modal-btn" title="activate" data-id="{{ entity.id }}" data-target="#activateModal" data-toggle="modal"><i class="fa-icon-ok icon-white"></i></button>
                           {% endif %}

                           {% if is_granted('DELETE',entity) %}
                           <button class="btn btn-danger delete-modal-btn" type="button" data-id="{{ entity.id }}" data-target="#deleteModal" data-toggle="modal"><i class="fa-icon-trash icon-white"></i></button>
                           {% endif %}
                       </td>

                   </tr>
                   {% endfor %}
               </tbody>
           </table>
           {% else %}
           <div class="alert alert-block ">
            <h4 class="alert-heading">Warning!</h4>
            <p>No hay ninguna invitación enviada. Si quieres enviar invitaciones por email utiliza <a href="{{ path('frequest_new') }}">este formulario</a> o si quieres invitar a tus amigos de facebook utiliza <a href="{{ path('import_fb') }}">este otro formulario</a>.</p>
        </div>
        {% endif %}
    </div>
</div>
</div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
{% javascripts
'@FriendBundle/Resources/public/js/friendrequest/indexRecibed.js'
%}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}