{% extends app.request.isXmlHttpRequest ? "::base_ajax.html.twig" : "FriendBundle::layout/friendrequest.html.twig" %}
{% trans_default_domain "FriendBundle" %}
{% block content %}
{{ apy_breadcrumb_trail_render() }}

<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header" data-original-title>
            <h2><i class="icon-user"></i><span class="break"></span>{{'friendrequest.view.title'|trans}}</h2>
            <div class="box-icon">
            <a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
            </div>
        </div>
        <div class="box-content">
            <div class="span12">
                        <h2>{{ 'friendrequest.view.title_note'|trans( {}, 'FriendBundle') }}</h2>
                        <div class="well">
                          <p style="margin-bottom: 0;" class="muted">
                            {{ 'friendrequest.view.note'|trans( {}, 'FriendBundle') }}
                          </p>
                        </div>
                    </div>
            <table class="table table-bordered table-striped">
                <tbody>
                    <tr>
                        <th>{{'friendrequest.view.date'|trans}}</th>
                        <td>{{ entity.created|date('d/m/Y') }}</td>
                    </tr>
                    <tr>
                        <th>{{'friendrequest.view.message'|trans}}</th>
                        <td>{{ entity.message|raw }}</td>
                    </tr>
                    {% if is_granted('OWNER', entity) and entity.email is not empty %}
                    <tr>
                        <th>Email</th>
                        <td>{{ entity.email }}</td>
                    </tr>
                    {% else %}
                    {% if is_granted('OWNER', entity) and entity.to is not null %}
                    <tr>
                        <th>{{'friendrequest.view.to'|trans}}</th>
                        <td>
                            {% include 'UserBundle:partials:user_avatar.html.twig' with {'user': entity.to } only %}
                            {{ entity.to }}
                        </td>
                    </tr>
                    {% else %}
                    {% if is_granted('VIEW', entity) %}
                    <tr>
                        <th>{{'friendrequest.view.from'|trans}}</th>
                        <td>
                            {% include 'UserBundle:partials:user_avatar.html.twig' with {'user': entity.from } only %}
                            {{ entity.from }}
                        </td>
                    </tr>
                    {% endif %}
                    {% endif %}
                    {% endif %}
                </tbody>
            </table>
            {% if is_granted('DELETE', entity) %}
            <form class="form-horizontal" >
                    <fieldset>
                    <div class="form-actions">
                        {% if app.user == entity.to %}
                            <button type="button" class="btn btn-success modal-button" title="{{'friendrequest.view.activate'|trans}}" data-href="{{ path('frequest_activate', { 'id': entity.id }) }}" data-target="#activateModal" data-toggle="modal" data-redirect="frequest"><i class="fa-icon-ok icon-white"></i>&nbsp;{{'friendrequest.view.activate'|trans}}</button>
                        {% endif %}
                        <button type="button" class="btn btn-danger modal-button" title="{{'friendrequest.view.delete'|trans}}" data-href="{{ path('frequest_delete', { 'id': entity.id }) }}" data-target="#deleteModal" data-toggle="modal" data-redirect="frequest"><i class="icon-trash icon-white"></i>&nbsp;{{'friendrequest.view.delete'|trans}}</button>
                        <a href="{{ path('frequest') }}" class="btn ajaxy">
                            <i class="fa-icon-undo"></i>&nbsp;{{'friendrequest.view.back'|trans}}
                        </a>
                    </div>
                    </fieldset>
                </form>
            {% endif %}
        </div>
    </div>
</div>
{% include 'MainBundle:partials:delete-modal.html.twig' with {'type': 'frequest_delete'} %}
{% include 'FriendBundle:partials:activate-modal.html.twig' with {'type': 'frequest_activate'}%}
{% endblock %}
{% block javascripts %}
{{ parent() }}
{% javascripts
    '@FriendBundle/Resources/public/js/friendrequest/show.js'
output='js/friend/show.js' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}