<div class="control-group">
<div class="input-prepend">
    <span class="add-on"><i class="icon-lock"></i></span>
    <input type="password" id="{{form_name}}_plainPassword_password" name="{{form_name}}[plainPassword][password]" required="required" class="required" placeholder="{% trans %}Type password{% endtrans %}" minlength="6">
</div>
<div class="clearfix"></div>
<div class="input-prepend">
    <span class="add-on"><i class="icon-lock"></i></span>
    <input type="password" id="{{form_name}}_plainPassword_password_confirmation" name="{{form_name}}[plainPassword][password_confirmation]" required="required" class="" placeholder="{% trans %}Retype password{% endtrans %}" minlength="6" equalTo="#{{form_name}}_plainPassword_password">
    {{ form_errors(form.plainPassword.password)}}

</div>
</div>