<div class="control-group">
<div class="input-prepend" title="Password">
    <span class="add-on"><i class="icon-lock"></i></span>
    <input type="password" id="{{form_name}}_plainPassword_password" name="{{form_name}}[plainPassword][password]" required="required" class="input-large span10 required" placeholder="{% trans %}Type password{% endtrans %}" minlength="6">
</div>
<div class="clearfix"></div>
<div class="input-prepend" title="Retype Password">
    <span class="add-on"><i class="icon-lock"></i></span>
    <input type="password" id="{{form_name}}_plainPassword_password_confirmation" name="{{form_name}}[plainPassword][password_confirmation]" required="required" class="input-large span10" placeholder="{% trans %}Retype password{% endtrans %}" minlength="6" >
    {{ form_errors(form.plainPassword.password)}}

</div>
</div>