{% extends app.request.isXmlHttpRequest ? "::base_ajax.html.twig" : "UserBundle::layout.html.twig" %}
{% trans_default_domain "UserBundle" %}
{% block title %}{{'menu.title.login'|trans({},'MainBundle')}}{% endblock %}
{% block content %}
{% block fos_user_content %}
<div id="sign_up2">
    <div class="container">
        <div class="row login">
            <div class="login-box">
                <div class="span5 left_box">
                    <h4>{{ 'login.account'|trans({},'UserBundle') }}</h4>

                    <div class="perk_box">
                        <div class="perk">
                            <span class="icos"><img src="/img/facebook-icon.png"></span>
                            <p>{{'registration.block1.content'|trans|raw}}.</p>
                        </div>
                        <div class="perk">
                            <span class="icos ico2"><span class="icos"><img src="/img/icons/Crab-128.png"></span></span>
                            <p>{{'registration.block2.content'|trans|raw}}</p>
                        </div>
                    </div>
                </div>
                <div class="span6 signin_box">
                    <div class="box">
                        <div class="box_cont">
                            <div class="social">
                                <h3>{{ 'login.access'|trans}}</h3>
                                {% include "UserBundle:Helper:facebook_button.html.twig" %}
                            </div>

                            <div class="division">
                                <div class="line l"></div>
                                <span>{{ 'or'|trans({},'MainBundle')}}</span>
                                <div class="line r"></div>
                            </div>
                            <div class="form">
                                <form action="{{ path("fos_user_security_check") }}" method="post" class="form-horizontal validate ajaxform" id="login-form">
                                    <fieldset>
                                            <div class="input-prepend" title="Username">
                                                <span class="add-on"><i class="icon-user"></i></span>
                                                <input class="input-large span10" id="username"  name="_username" value="{{ last_username }}" type="text" placeholder="{{ 'form.login.type_email'|trans }}"/>
                                            </div>
                                        <div class="clearfix"></div>
                                        <div class="control-group  {% if error %} error {% endif %}">
                                        <div class="input-prepend" title="Password">
                                            <span class="add-on"><i class="icon-lock"></i></span>
                                            <input class="required" id="password" type="password" placeholder="{{ 'form.login.type_password'|trans }}" name="_password" minlength="6" />
                                        </div>
                                        {% if error %}
                                        <div class="help-inline" ><p>{{ error|trans({}, 'FOSUserBundle') }}</p></div>
                                        {% endif %}
                                        </div>
                                        <div class="clearfix"></div>

                                        <label class="remember" for="remember"><input type="checkbox" id="remember" name="_remember_me"/>{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>

                                        <input type="submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}">
                                    </fieldset>
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                                </form>
                                <hr>
                                {% include "UserBundle:partials:forgot_password.html.twig" %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock fos_user_content %}
{% endblock %}
